:root{
  --cor-fundo:#FDFBFF;
  --cor1: #E21818;
  --cor2: #FFDD83;
  --cor3: #98DFD6;
  --cor-texto: #00235B;

  --fonte-titulo: "Work Sans, sans-serif";
  --fonte-paragrafo: "Montserrat, sans-serif";
}


.cabecalho{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-nome{
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-paragrafo);
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cabecalho-nome:hover{
  color: var(--cor1);
}
.circulo{
  max-width: 1.5625rem;
  max-height: 1.5625rem;
}
.cabecalho-menulink{
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 1.125rem;
  font-family: var(--fonte-paragrafo);
  padding: 0 0.5rem;
}
#cabecalho-menulink_borda{
  border-style: solid;
  border-width: 0 0.0625rem;
}
.cabecalho-menulink:hover{
  color: var(--cor1);
}