@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{
  --cor-fundo:#FDFBFF;
  --cor1: #E21818;
  --cor2: #FFDD83;
  --cor3: #98DFD6;
  --cor-texto: #00235B;

  --fonte-titulo: "Work Sans, sans-serif";
  --fonte-paragrafo: "Montserrat, sans-serif";
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  box-sizing: border-box;
  /*padding: 3% 3% 3% 5%;
  width: 90%;*/
  
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  padding: 3% 10% 3% 8%;
 }
.cabecalho_nome {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-titulo);
  font-weight: 400;
  font-size: 22px;
}
#circulo{
  max-width: 25px;
  max-height: 25px;
  
}
.cabecalho_nome:hover{
  color: var(--cor1);
}
 .cabecalho_menu{
  display: flex;
  align-items: center;
 }
.cabecalho_menu_link{
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-paragrafo);
  font-size: 18px;
  padding: 0 5% 0 5%;
}
.cabecalho_menu_link:hover{
  color: var(--cor1);
}
#cabecalho_menu_link{
  border-style: solid;
  border-color: var(--cor-texto);
  border-width: 0px 1px 0px 1px;
}


.apresentacao{
  display: flex;
  align-items: center;
  padding: 3% 6%;
  justify-content: center;
  gap: 10%;
}

/*define o tamanho da imagem maxima que vai ser renderizado*/
.apresentacao_imagem {
  max-width: 480px;
  max-height: 480px;
}
.apresentacao_conteudo{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.apresentacao_conteudo_titulo{
  font-family: var(--fonte-paragrafo);
}
h1.apresentacao_conteudo_titulo{
  font-size: 100px;
  padding: 0 0  30px 0;
}
h3.apresentacao_conteudo_titulo{
  font-size: 22px;
}
.apresentacao_conteudo_texto{
  font-family: var(--fonte-paragrafo);
  font-size: 18px;
}
.apresentacao_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.apresentacao_links_link{
  justify-content: center;
  border: 2px solid var(--cor-texto);
  text-align: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-size: 22px;
  padding: 55px 0;
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-titulo);
  font-weight: bold;
  transition: 1s ease;
}
#curriculo{
 background-color: var(--cor1);
}
#projetos{
  background-color: var(--cor2);
}
#contato{
  background-color: var(--cor3);
}
#curriculo:hover{
  background-color: var(--cor-fundo);
}
#projetos:hover{
  background-color: var(--cor-fundo);
}
#contato:hover{
  background-color: var(--cor-fundo);
}
.apresentacao_links_link:hover{
  transform: rotateY(360deg);
}


.rodape_divisoria{
  width: 100%;
  padding: 10% 10% 0 10%;

}
.rodape{
  display: flex;
  justify-content: space-between;
  padding: 5% 3% 3% 3%;
}
.rodape_blocos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rodape_titulo {
  font-family: var(--fonte-titulo);
  font-size: 18px;
  font-weight: 600;
}
.rodape_texto {
  font-family: var(--fonte-paragrafo);
  font-size: 16px;
}
#email { 
  font-family: var(--fonte-paragrafo);
  font-size: 16px;
  color: var(--cor-texto);
  text-decoration: underline;
}
#email:hover {
  color: var(--cor1);
}
#telefone{
  font-family: var(--fonte-paragrafo);
  font-size: 16px;
  color: var(--cor-texto);
  text-decoration: underline;
}
#telefone:hover {
  color: var(--cor1);
}
#site_wix {
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 16px;
 color: var(--cor-texto);
  text-decoration: underline;
}
#site_wix:hover {
  color: var(--cor1);
}