@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
   font-family: "Work Sans", sans-serif;*/
/*font-family: "Montserrat", sans-serif;*/

:root{
  --cor-fundo:#FDFBFF;
  --cor1: #E21818;
  --cor2: #FFDD83;
  --cor3: #98DFD6;
  --cor-texto: #00235B;

  --fonte-titulo: "Work Sans, sans-serif";
  --fonte-paragrafo: "Montserrat, sans-serif";
}
*{
  margin: 0;
}
body{
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
hr{
  margin: 8% 5%;
  border: 0;
  border-top: 1px solid #00235b44;
}
#onpage{
  color: var(--cor3);
  font-weight: 700;
  font-size: 1.3rem;
}
.titulo_intro{
  margin: 0;
  font-family: var(--fonte-titulo);
  font-size: 6.25rem;
}
.titulo2{
  font-family: var(--fonte-titulo);
  font-size: 1.625rem;
}
.titulo3{
  text-decoration: none;
  font-family: var(--fonte-titulo);
  font-size: 1.28rem;
}
.paragrafo{
  text-decoration: none;
  font-family: var(--fonte-paragrafo);
  font-size: 1rem;
  line-height: 1.55rem;;
}
